#Title{
    text-align: center;
}
#Kaart{
    margin: 10px;
}
.card-title{
    text-align: center;
}
.md-form{
    margin-bottom: 0rem;
    margin-top: 1rem;
}
#closecol{
    display: flex;
    justify-content: end
}