<mdb-card id="Kaart" *ngIf="location">
    <mdb-card-body>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <mdb-card-title> <h4>Edit location</h4> </mdb-card-title>
        </div>
        <div class="col-md-1" id="closecol">
          <i class="fa fa-times" (click)="closeEditLocation()" id="closebutton"></i>
        </div>
      </div>
      <form>
          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input mdbInputDirective type="text" name="text4" [(ngModel)]="locationName" id="formName" class="form-control" [mdbValidate]="false">
                <label for="formName" class="">Name of location</label>
              </div>
            </div>
          </div>
          <!--First row-->
          <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <div class="md-form">
                    <i class="fa fa-globe prefix"></i>
                    <input mdbInputDirective type="text" class="form-control" id="locationLatitude" name="locationLatitude" [(ngModel)]="location.lat" [mdbValidate]="false">
                    <label for="form9">Latitude</label>
              </div>
            </div>
        
              <!--Second column-->
            <div class="col-md-6">
                <div class="md-form">
                    <i class="fa fa-globe prefix"></i>
                    <input mdbInputDirective type="text" class="form-control" id="locationLongitude" name="locationLongitude" [(ngModel)]="location.long" [mdbValidate]="false">
                    <label for="form10">Longitude</label>
                </div>
            </div>
          </div>
          <!--/.First row-->
        
          <!--Second row-->
          <div class="row">
              <!--First column-->
              <div class="col-md-12">
                  <div class="md-form">
                      <textarea mdbInputDirective type="text" id="locationInformation" class="md-textarea form-control" rows="3" name="locationInformation" [(ngModel)] ="location.description" [mdbValidate]="false"></textarea>
                      <label for="locationInformation">Information</label>
                  </div>
        
              </div>
          </div>
          <!--/.Second row-->
        
          <!--Third row-->
          <div class="row">
        
              <!--First column-->
              <div class="col-md-8">
                  <div class="md-form">
                      <textarea mdbInputDirective type="text" id="locationCrypticDesctiption" class="md-textarea form-control" rows="3" name="locationCrypticDesctiption" [(ngModel)] ="location.crypticClue" [mdbValidate]="false"></textarea>
                      <label for="locationCrypticDesctiption">Cryptic description</label>
                  </div>
  
              </div>
        
              <!--Third column-->
              <div class="col-md-4">
                  <div class="md-form">
                      <input mdbInputDirective type="text" id="locationAnswer" class="form-control" name="locationAnswer" [(ngModel)]="location.answer" [mdbValidate]="false">
                      <label for="locationAnswer" class="">Answer</label>
                  </div>
              </div>
        
          </div>
          <!--/.Third row-->
  
          <div class="row">
            <div class="col-md-6">
              <div class="md-form">
                <input mdbInputDirective type="text" id="locationHint1" class="form-control" name="locationHint1" [(ngModel)]="location.hint1" [mdbValidate]="false">
                <label for="locationHint1" class="">Hint 1</label>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="md-form">
                <input mdbInputDirective type="text" id="locationHint2" class="form-control" name="locationHint2" [(ngModel)]="location.hint2" [mdbValidate]="false"> 
                <label for="locationHint2" class="">Hint 2</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="knopcol">
              <button mdbBtn type="button" color="success" class="waves-light" (click)="editLocation()" id="addKnop" mdbWavesEffect>Edit location</button>
            </div>
          </div>
        </form>
        
    </mdb-card-body>
  
    
  </mdb-card>